@page "/peliculas/crear"
@using Peliculas.Shared.Entidades
@inject NavigationManager navigationManager

<h3>Crear película</h3>

<FormularioPeliculas Pelicula="Pelicula" OnValidSubmit="Crear" />

@code {
    private Pelicula Pelicula = new Pelicula();

    void Crear()
    {
        navigationManager.NavigateTo("peliculas");
    }
}