@page "/peliculas/crear"
@inject NavigationManager navigationManager

<h3>Crear película</h3>

<button @onclick="Crear">Guardar película</button>

@code {
    void Crear()
    {
        navigationManager.NavigateTo("peliculas");
    }
}