@page "/peliculas/{PeliculaId:int}/{NombrePelicula}"

<h3>Visualizar película</h3>

@code {
    [Parameter] public int PeliculaId { get; set; }
    [Parameter] public string NombrePelicula { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine(PeliculaId);
        base.OnInitialized();
    }
}