@page "/generos/crear"
@using Peliculas.Client.Helpers
@using Peliculas.Client.Repositorios
@using Peliculas.Shared.Entidades
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensajes

<h3>Crear género</h3>

<FormularioGenero OnValidSubmit="Crear" Genero="Genero" />

@code {
    private Genero Genero = new Genero();

    private async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/generos", Genero) ;

        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensaje(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("/generos");
        }
    }
}